img {
    width: 100%;
    /* 100% of the container it's in*/
}

.bg-prim {
    background-color: #42C98F;
    color: #fff;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4 {
  padding: 15px;
}
.table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

<<<<<<< HEAD
 table th {
    text-align: center;
 }
=======
table th {
    text-align: center;
}
>>>>>>> 6697378bcac559778f28404b93e9bfb067136839

.visuals {
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.overview {
    display: flex;
}

income,
expenses {
    flex: 1;
}

<<<<<<< HEAD
income h3, expenses h3 {
  text-align: center;
  padding: 15px;
}

income img, expenses img {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#incomeAmount {
  text-align: center;
  color: #149945 ;
}

#expensesAmount {
  text-align: center;
  color: #E52528;
}

=======
>>>>>>> 6697378bcac559778f28404b93e9bfb067136839
/*
2B3445
A4DEDE
28B0AC
42C98F
149945
*/
