img {
    width: 100%;
    /* 100% of the container it's in*/
}

.bg-prim {
    background-color: #42C98F;
}

.btn-primary {
    background-color: #42C98F;
}

.btn-info {
    background-color: #28B0AC;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.summary {
  margin-right: 15%;
}

.visuals {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

h1, h2, h3, h4 {
  padding: 15px;
}
.table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

 table th {
    text-align: center;
 }

.visuals {
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.overview {
    display: flex;
}

income,
expenses {
    flex: 1;
}

income h3, expenses h3 {
  text-align: center;
  padding: 15px;
}

income img, expenses img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.incomeColor {
  color: #149945 ;
}

.dangerColor {
  color: #E52528;
}

#incomeAmount {
  text-align: center;
}

#expensesAmount {
  text-align: center;
}

/*
2B3445
A4DEDE
28B0AC
42C98F
149945
*/
