<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="shortcut icon" href="../images/dollars.ico" type="image/x-icon" />
    <title>Income</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-prim">
        <a class="navbar-brand" href="../index.html">MoneyTracker v260</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./transactions.html">Transactions</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./income.html">Income<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./categories.html">Spending Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./visual.html">Expense Breakdown</a>
                </li>

            </ul>
        </div>
    </nav>

    <h1 class="pt-4 px-5">Track Your Income</h1>
    <div id="app" class="container-fluid">
        <h3 class="summary text-right">Total Income: <span class="incomeColor">${{totalIncome}}</span></h3>
        <div class="table-responsive mt-5">
            <table id="table" class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="tBody">
                    <tr v-for="income in incomes">
                        <td>{{income.date}}</td>
                        <td>${{income.amount}}</td>
                        <td>{{income.description}}</td>
                        <td>{{income.category}}</td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                v-on:click="deleteIncome(income)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container my-3">
            <div class="row">
                <button id="button" v-on:click="onClickNewIncome" type="button" class="btn bg-prim center">New
                    Income</button>
                <form class="m-auto" id="form" v-on:submit.prevent="createIncome">
                    <input v-model="addedDate" placeholder="Date MM-DD">
                    <input v-model="addedAmount" placeholder="Amount">
                    <input v-model="addedDescription" placeholder="Description">
                    <input v-model="addedCategory" placeholder="Category">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

    </div>

    <footer class="mt-5 mb-3">
        <div class="text-center">
            <a href="https://github.com/cs260-wolf-pack/budget-planner.git" target="_blank"><img
                    src="../images/GitHub-Mark-64px.png" style="width:42px;height:42px;border:0;" /></a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" 
    integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="../js/income.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>